</main>
<footer class="footer mt-auto py-3 text-light justify-content-md-center text-center footer-bg">
    <div class="container ">
        <span class="text-light">
            <h5>Starborne &#169;
                2022
            </h5>
        </span>
    </div>
</footer>

</div>
</body>

</html>